<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Informacion extra</h4>
        <p class="card-category">Informate</p>
      </div>
      <div class="card-body">
        <div id="typography">
          <div class="card-title">
            <h2>Estado de cuenta</h2>
          </div>
          <div class="row">
            <div class="tim-typo">
              <h1><span class="tim-note">Plan</span>Estado plan</h1>
            </div>

            <div class="tim-typo">
              <h2>
                <span class="tim-note">primer</span>
                referido
                <br />
                <small>cabecera</small>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
