<footer class="footer">
  <div class="container-fluid">
    <!-- <nav class="pull-left">
      <ul>
        <li>
          <a href="https://www.facebook.com/"> facebook </a>
        </li>
        <li>
          <a href="https://twitter.com/"> Twitter </a>
        </li>
        <li>
          <a href="instagram.com/"> Instagram </a>
        </li>
        <li>
          <a href="https://web.whatsapp.com/"> WhatsappWeb </a>
        </li>
      </ul>
    </nav> -->
    <div class="copyright pull-right">
      &copy;
      {{ test | date : "yyyy" }}, NOVABIT
      <a href="https://novabit.tech/" target="_blank">Bienvenido</a> NOVABIT.
    </div>
  </div>
</footer>
