<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="assets/img/logo.png" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">NOVABIT</h6>
            <h4 class="card-title">Recuper su cuenta</h4>

            <form
              [formGroup]="forgotPasswordForm"
              autocomplete="off"
              novalidate
              (ngSubmit)="recoverPassword(forgotPasswordForm.value)"
            >
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Usuario</mat-label>
                    <input
                      matInput
                      placeholder="Usuario"
                      type="text"
                      formControlName="usr_web"
                    />
                    <mat-error *ngIf="hasError('usr_web', 'required')"
                      >Usuario obligatorio!</mat-error
                    >
                    <mat-error *ngIf="hasError('usr_web', 'incorrect')"
                      >Usuario incorrecto!</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-md-8">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Correo electrónico</mat-label>
                    <input
                      matInput
                      placeholder="Correo electrónico"
                      type="email"
                      formControlName="eml"
                    />
                    <mat-error *ngIf="hasError('eml', 'required')"
                      >Correo electrónico obligatorio!</mat-error
                    >
                    <mat-error *ngIf="hasError('eml', 'email')"
                      >Correo electrónico no válido!</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
              <button
                mat-raised-button
                [disabled]="!forgotPasswordForm.valid"
                class="btn btn-danger"
              >
                Recuperar contraseña
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
